.infobox {
    font-size: 12px!important;
    padding: 18px 16px 16px;
    border-radius: 10px;
    background-color: rgba(255, 201, 0, 0.1);
    border: solid 1px $yellow;
    display: flex;
    align-items: flex-start;
    line-height: 1;
    color: $white;

  
  
    i {
      margin-right: 8px;
      margin-top: -5px;
      &::before {
        font-size: 24px;
        color: $yellow;
      }
    }

    &--error {
      background: rgba($error, $alpha: 1);
      border-color: $error;

    }

    &--success {
      background: rgba($success, $alpha: 1);
      border-color: $success;
      

    }
  }
  