.header {
    height: 110px;
    @include boxShadow(0 3px 5px 0 rgba(142, 159, 173, 0.2));
    position: relative;
    z-index: 9;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    nav {
        a {
            font-size: rem(16px);
            color: $base-dark;
            font-weight: bold;
            margin-right: rem(30px);

            &:last-child {
                margin-right: 0;
            }
        }

    }

    .account {
        display: flex;
    }
}