.account-page {
    padding: rem(50px) 0;
    min-height: calc(100vh - 110px - 100px);
    background: url("../../assets/images/login-bg.png") no-repeat 45% -30%;
    background-size: auto 70%;
    form {
        max-width: rem(402px);
        width: 100%;
        margin: 0 auto;
    }
}