.blog-card {
    border: 1px solid $black-medium-grey;
    border-radius: 5px;
    box-shadow: inset 0 -6px 3px 0 rgba(142, 159, 173, 0.2);

    a {
        display: flex;
        flex-direction: column;
        white-space: pre-wrap;
        text-decoration: none!important;
        color: inherit;
    }

    &__title {
        padding: 0 0 rem(8px);
        font-size: rem(22px);
        font-weight: bold;
        color: $base-dark;
        line-height: normal;

        @include phone {
            font-size: 16px;

        }
    }

    &__body {
        padding: rem(20px);

        @include phone {
            padding: 10px;
            
        }
    }

    &__features {
        margin: 0 0 8px;
        color: $dark-grey;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;

        a {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

    }

    &__description {
        font-size: 16px;
        font-weight: 500;
        color: $base-dark;
        line-height: 1.63;
        height: rem(50px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include phone {
            font-size: 14px;
            height: rem(45px);
            
        }

    }

    &__image {
        position: relative;

        img {
            position: relative!important;
            width: 100%;
            height: 100%;
        }
    }
}